body {
    height: 100vh;
}

.header {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 85, 160);
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.38);
}

.header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: 20rem;
    height: 100%;
    font-size: 3rem;
    background-color:  rgb(51, 85, 160);
    color: white;
}

.header .title .title-text {
    text-decoration: none;
    color: white;
}

.header .button {
    margin-right: 20px;
}

main.card-padrao { 
    padding: 15px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80vw;
}

main > form {
    width: 80vw;
    padding: 20px;
    border: solid #ccc 0.5px;
    border-radius: 10px;
    box-shadow: 0px 0px 21px 10px rgba(204,204,204,1);
}

main > form.login {
    max-width: 40vw;
}

.paginador {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form .form-group {
    padding: 0;
}

.menu-inicial {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.menu-lateral {
    height: 90vh;
    width: 15vw;
    padding: 10px;
    background-color:  rgb(82, 129, 230);
    box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.25);
}

.menu-lateral ul {
    min-height: 80%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-lateral ul li {
    display: flex;
    justify-content: center;
    padding: 15px;
    list-style: none;
    font-size: 2rem;
}

.menu-lateral ul li a {
    color: white;
}
.content {
    width: 85vw;
    overflow-y: scroll;
}

@media screen and (max-width: 992px) {
    .menu-lateral {
        width: 100%;
        height: 10vh;
        padding: 0;
    }

    .menu-lateral ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
    }

    .menu-inicial {
        flex-direction: column;
    }

    .content {
        width: 100vw;
    }
  }


h3.box-title {
    font-style: normal;
}

.table-responsive {
    border-top: 1px solid #ddd;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

.input-button-inline {
    display: flex;
    flex-direction: row;
}

form .title {
    margin-top: 0;
}

div.alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    font-size: 18px
}

.icon {
    width: 25px;
    height: 25px;
  }